<form
  id="login-form"
  #lForm="ngForm"
  [formGroup]="loginForm"
  (ngSubmit)="login()"
  novalidate
  class="w-full text-white"
>
  <div class="flex flex-col items-center mr-2 pt-2 w-full bg-gray-800">
    <input
      matInput
      type="text"
      formControlName="emailAddress"
      placeholder="Email"
      class="appearance-none placeholder-opacity-50 border-green-500 text-white text-sm bg-transparent w-full py-1 px-2 leading-tight  border-b focus:outline-none"
    />
    <input
      matInput
      type="password"
      formControlName="password"
      autocomplete="current-password"
      required
      class="appearance-none placeholder-opacity-50 border-green-500 text-white text-sm bg-transparent w-full py-1 px-2 leading-tight focus:outline-none"
      placeholder="Password"
    />

    <button
      mat-raised-button
      type="submit"
      form="login-form"
      [disabled]="!loginForm.valid"
      class="py-1  mt-2 w-full bg-green-500 hover:bg-green-700 text-xs text-white "
    >
      Sign In
    </button>
  </div>
</form>
