<div *ngIf="loading">
  <div class="fixed inset-0 flex flex-col items-center justify-center text-white bg-gray-900">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-12 mb-2" stroke="#fff" viewBox="0 0 38 38">
      <g transform="translate(1 1)" stroke-width="2" fill="none" fill-rule="evenodd">
        <circle stroke-opacity=".5" cx="18" cy="18" r="18" />
        <path d="M36 18c0-9.94-8.06-18-18-18">
          <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s"
            repeatCount="indefinite" />
        </path>
      </g>
      <style id="stylus-1" type="text/css"></style>
    </svg>
    <span class="font-mono font-bold">_loading</span>
  </div>
</div>
<div *ngIf="error">
  <div class="fixed inset-0 flex flex-col items-center justify-center text-white bg-gray-900">
    <span>Error :(</span>
  </div>
</div>

<div *ngIf="theme" class="relative max-h-screen overflow-hidden">
  <div
    class="absolute bottom-0 right-0 z-50 flex items-center justify-center w-full transition-all duration-200 opacity-75 hover:opacity-100"
    style="background: rgba(17, 24, 39, .8)">
    <div class="flex w-full pl-6 ml-32">
      <div class="flex items-center justify-center w-full py-3 pt-2 transform -translate-x-2 ">
        <button (click)="openCodeEditor()"
          class="flex items-center mr-6 text-white transition-all duration-500 transform outline-none opacity-75 hover:opacity-100"
          [ngClass]="{
          'opacity-100': isOpen
        }">
          <span class="inline-block pr-2 mr-1 font-mono">view source</span>
          <svg class="w-5 h-5 " xmlns="http://www.w3.org/2000/svg" overflow="visible" viewBox="0 0 62.3 62.3">
            <path d="M9 2h44.2c4 0 7.1 3.2 7.1 7v44.2c0 4-3.2 7.1-7 7.1H9a7 7 0 01-7.1-7V9C2 5 5.2 2 9 2z" fill="none"
              stroke="#fff" stroke-width="4" stroke-miterlimit="10" />
            <path d="M31.2 60.3V2h22c4 0 7.1 3.2 7.1 7v44.2c0 4-3.2 7.1-7 7.1H31.1z" fill="#fff" />
          </svg>
        </button>
        <button (click)="closeCodeEditor()"
          class="flex items-center text-white transition-all duration-500 transform outline-none opacity-50 hover:opacity-100"
          [ngClass]="{
          'opacity-100': !isOpen
        }">
          <svg class="w-5 h-5 " xmlns="http://www.w3.org/2000/svg" overflow="visible" viewBox="0 0 62.3 62.3">
            <path d="M53.2 60.3H9.1a7 7 0 01-7.1-7V9C2 5 5.2 2 9 2h44.2c4 0 7.1 3.2 7.1 7v44.2c0 4-3.1 7.1-7 7.1z"
              fill="#fff" stroke="#fff" stroke-width="4" stroke-miterlimit="10" />
          </svg>
          <span class="inline-block pl-2 mr-1 font-mono">full view</span>
        </button>
      </div>
      <a href="/" target="_blank" class="items-center justify-center hidden w-40 font-mono text-white bg-blue-900 md:flex">Open brownser</a>
    </div>
  </div>
  <div class="relative flex w-full h-screen mr-12 overflow-hidden">
    <as-split direction="horizontal" (dragEnd)="splitResize($event)" [gutterSize]=4 [useTransition]=true>
      <as-split-area [size]="codeSize">
        <app-playground [theme]="theme" [themes]="themeList"></app-playground>
      </as-split-area>
      <as-split-area [size]="siteSize">
        <app-landing [query]="theme.landingQuery" [stringTemplate]="theme.landingTemplate"></app-landing>
        <app-articles [query]="theme.articlesQuery" [stringTemplate]="theme.articlesTemplate"></app-articles>
        <app-article [query]="theme.articleQuery" [stringTemplate]="theme.articleTemplate"></app-article>
      </as-split-area>
    </as-split>
  </div>
</div>